In [1]:
""" Titanic Project
Author: Kai Cho
Description:

"""

# Base Library
import os
import pandas as pd
import numpy as np
import sklearn

In [2]:
for dirname, _, filenames in os.walk('./input/'):

  for filename in filenames:
    print(os.path.join(dirname, filename))

./input/test.csv
./input/train.csv
./input/gender_submission.csv

## Read Train Data and Basic Analysis

In [3]:
train_data = pd.read_csv("./input/train.csv")
train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Read Gender Submission files and Basic Analysis

In [5]:
gender_submission = pd.read_csv('./input/gender_submission.csv')
gender_submission.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [6]:
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## Survive Rate base on Gender

In [7]:
#Total Number of Sex
print(train_data.groupby(['Sex']).size())

Sex
female    314
male      577
dtype: int64

In [8]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
women.mean()

0.7420382165605095

In [9]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
men.mean()

0.18890814558058924

In [10]:
women.head(5)

1    1
2    1
3    1
8    1
9    1
Name: Survived, dtype: int64

In [43]:
from sklearn.ensemble import RandomForestClassifier
test_data = pd.read_csv('./input/test.csv')
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)
probability = model.score(X, y, sample_weight=None)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [44]:
probability

0.8159371492704826